
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
   font-family: "Poppins", sans-serif;
   background: linear-gradient(to bottom, #00738e, #3ac6bd);
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   padding: 20px;
   box-sizing: border-box;
   overflow: hidden;
}


.weather-container {
   background: rgba(255, 255, 255, 0.2);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 400px;
   text-align: center;
   color: white;
}

.dark .weather-container{
   background: rgba(255, 255, 255, 0.384);
}

input, .btn {
   padding: 10px;
   width: calc(100% - 22px);
   margin: 10px 0;
   border-radius: 5px;
   box-sizing: border-box;
   font-size: 16px;
}

input{
   border: 1px solid white;
   text-align: center;
}
input:focus{
   outline: none;
}


.btn {
   background: #00738e;
   color: white;
   border: none;
   cursor: pointer;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

button:active {
   background: rgba(255, 255, 255, 0.3);
}

.hidden {
   display: none;
}

@media (max-width: 600px) {
   body {
       padding: 10px;
   }
}
@media (prefers-color-scheme:dark){
   body{
      background-color: black;
      color: white;
   }
}
 